
/* FormRegister.css */

.form-demo .card {
    min-width: 450px;
}
.form-demo .card form {
    margin-top: 2rem;
}
.form-demo .card .field {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}


<li className="list-inline-item"><a href="https://www.facebook.com/CentroUniversitarioVL"><i className="fa fa-facebook"></i></a></li>
<li className="list-inline-item"><a href="https://www.instagram.com/centrouniversitariovl/"><i className="fa fa-twitter"></i></a></li>
<li className="list-inline-item"><a href="https://www.instagram.com/centrouniversitariovl/"><i className="fa fa-instagram"></i></a></li>
<li className="list-inline-item"><a href="https://www.linkedin.com/in/prensa-utn-buenos-aires-9671a32b/"><i className="fa fa-linkedin"></i></a></li>
<li className="list-inline-item"><a href="https://www.youtube.com/user/utnbuenosaires1"><i className="fa fa-youtube"></i></a></li>
<li className="list-inline-item"><a href="mailto:centro.universitario@mvl.edu.ar" target="_blank"><i className="fa fa-envelope"></i></a></li>
             