.datatable-filter .p-paginator .p-paginator-current {
    margin-left: auto;
    color: rgb(51, 255, 0);
}
.datatable-filter .p-progressbar {
    height: 0.5rem;
    background-color:#d8dadc;
}
.datatable-filter .p-progressbar .p-progressbar-value {
    background-color: #607d8b;
}
.datatable-filter .p-datepicker {
    min-width: 25rem;
}
.datatable-filter .p-datepicker td {
    font-weight: 400;
}
.datatable-filter .p-datatable.p-datatable-customers .p-datatable-header {
    padding: 1rem;
    text-align: center;
    font-size: larger;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.datatable-filter .p-datatable.p-datatable-customers .p-paginator {
    padding: 1rem;
}
.datatable-filter .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
    text-align: center;
    color: orange;
    font-size: medium;
}
.datatable-filter .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
    cursor: auto;
    color: chocolate;
}
.datatable-filter .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
}
.titleLabelByCategory{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: gold;
}
.titleDialog{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 1rem;
    text-align: center;
    color: blueviolet;
} 
.containerDialog{
    background-image: url(../img/dark-blue-fondo.webp); 
}