.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

/*
position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    text-align: center;
*/

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
    bottom: 20px;
    width: 100%;
    display: block;
    text-align: center;
}
.logos{
    padding: 7px 0;
    display: block;
    font-size: 25px;
    line-height: 16px;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col .backgroundFooterHome{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.backgroundFooterHome{
    background-color: black;
    opacity: 0.9;
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
.imgUtn{
    background-image: url('../img/logUtn.png');    
}
.imgCuvl{
    background-image: url('../img/logCuvl.png');    
}
.imgCuvl, .imgUtn{
    margin-top: 10px;
    justify-content: center;
    margin-left: 20%;
    width: 250px; height: 80px;
    padding: 30px 0px;
}

/*
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
*/

